/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

td,
th {
  border: 1px solid black;
  padding: 50px;
  width: 40px;
  height: 40px;
}

table {
  text-align: center;
  position: relative;
  width: 60%;
  height: 70%;
}

#jeopardyTable th,
#jeopardyTable td {
  border: solid 1px white;
  width: 12em;
  padding: 1em;
}
